{{ define "content" }}

    {{/*TODO: button requires uuid of project*/}}
    <div class="m-add-contact"><a href="/project/{{.Project.Uuid}}"><button class="s-btn">Main</button></a></div>
    <div class="m-add-contact"><a href="/project/{{.Project.Uuid}}/tasks"><button class="s-btn">Project tasks</button></a></div>
    <div class="m-add-contact"><a href="/project/{{.Project.Uuid}}/invite"><button class="s-btn">Invite employee</button></a></div>

    <!-- BLOCK -->
    <div class="main-block">
        <div class="main-container">
            <div class="main-header">Send this link to your employee</div>
            <a href="{{ .InviteLink }}">{{ .InviteLink }}</a>
        </div>
    </div>

{{ end }}

