{{ define "content" }}

    {{/*TODO: button requires uuid of project*/}}
    <div class="m-add-contact"><a href="/project/{{.Project.Uuid}}/"><button class="s-btn">Main</button></a></div>
    <div class="m-add-contact"><a href="/project/{{.Project.Uuid}}/tasks"><button class="s-btn">Project tasks</button></a></div>

    <!-- BLOCK -->
    <div class="main-block">
        <div class="main-container">
            <form action= "/project/{{.Project.Uuid}}/invite" method="POST">
                <select name = "specialtyId" size="1">
                {{range .Specialties}}
                    <option value={{.Id}}>{{.Name}}</option>
                {{end}}
                </select>
                <input type="submit" value="Invite" class="s-btn">
            </form>
        </div>
    </div>

{{ end }}

